@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
    --verde: #70751C;
    /*--beige:#fcf1eb;*/
    --beige: #FCF3EB;
    --marron: #492913;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;
   
    font-weight:400;
    /* font-style: normal; */
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    color: var(--marron);
    font-size: 20px;

    /* background: rgba(43, 23, 4, 1); */
/* background: linear-gradient(90deg,rgba(46, 28, 3, 1) 5%, rgba(255, 245, 242, 1) 50%, rgba(43, 23, 4, 1) 95%); */
}
header{
    background-color: var(--verde);
    color: #fff;
    padding: 1em;
    text-align: center;
    animation: animacionInicio 3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes animacionInicio {
    0%{
        height: 100dvh;
    }
    20%{
        height: 100dvh;
    }
    100%{
        height: 73px;
    }
}
header > div{
    font-size: 3em;
    font-family: "Limelight", sans-serif;
    font-variant: small-caps;
    color: var(--beige);
}
main{
    /* padding: 2em; */
    padding: 2em 0;
    /* max-width: 850px; */
    margin: 0 auto;
}
h1{
    text-align: center;
    color: var(--marron);
    text-transform: uppercase;
    font-size: 1.5em;
}
#sliderImagenes{
    margin: 2em auto;
    margin-bottom: 9em;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;*/
    max-width: 1100px;

    display: flex;
    flex-direction: row;
}
#sliderImagenes div{
    padding: .3em;
    border: 1px solid var(--marron);
    max-width: 350px;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sliderImagenes div:nth-child(1){
   /* grid-area: 1 / 1 / 2 / 2;*/
}
#sliderImagenes div:nth-child(2){
    /*grid-area: 2 / 2 / 3 / 3;*/
    transform: translateY(7em);
}
#sliderImagenes div:nth-child(3){
    /*grid-area: 1 / 3 / 2 / 4;*/
}

#sliderImagenes img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

#sliderImagenes div:nth-child(1) > img{
    animation: aparecerImagen1 6s ease;
}
#sliderImagenes div:nth-child(2) > img{
    animation: aparecerImagen2 6s ease;
}
#sliderImagenes div:nth-child(3) > img{
    animation: aparecerImagen3 6s ease;
}
@keyframes aparecerImagen1 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes aparecerImagen2 {
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes aparecerImagen3 {
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.textoVideo{
    margin: 0 auto;
    margin-bottom: 2em;
    text-align: center;
}
.textoVideo span{
    color: var(--verde);
    font-size: 2em;
}
#formSuscription{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
#formSuscription input{
    padding: .5em;
    border-radius: 3px;
    font-size: 20px;
    border: 1px solid var(--marron);
}
#formSuscription input:first-child{
    padding: .5em;
    margin-right: 0.5em;
    width: 25vw;
    color: #797979;
    text-transform: uppercase;
}
#formSuscription input:last-child{
    background-color: var(--verde);
    color: var(--beige);
    padding: .5em 1em;
    border-color: var(--verde);
}
.videoAmplio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em auto;
}
.videoAmplio > video{
    max-width: 1200px;
    margin: 0 auto;
}
.textoFondo{
    text-indent: 50px;
    background-color: var(--verde);
    padding: 2em ;
    color: var(--beige);
    text-align: justify;
}
/* .textoFondo span:last-child{
    display: block;
    width: 100%;
    text-align: center;
    text-indent: 0;
    font-size: 25px;
} */
.logoTexto{
    display: inline;
    width: auto;
    font-family: "Limelight", sans-serif;
    font-variant: small-caps;
    font-size: 1.5em;
}
.textFinal{
    width: 100%;
    text-align: center;
}
.textFinal > div{
    font-size: 24px;
    padding: 1em;
    color: var(--verde);
}
button{
    /* background-color: var(--verde); */
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    padding: 0.5em;
    margin: 0 auto;
    cursor: pointer;
    display: inline;

    background-image: linear-gradient(90deg, var(--verde), var(--verde)), linear-gradient(90deg, var(--verde), var(--verde));
    background-position: -10px 100%, 100% 100%;
    background-repeat: no-repeat;
    background-size: 0 1px, 100% 1px;
    transition: all .5s cubic-bezier(0.31, 0, 0.13, 1);;
}
button:hover{
    background-position: 0 100%, calc(100%+10px) 100%;
    background-size: 100% 1px, 0 1px;
    color: var(--marron);
}
footer{
    background-color: var(--marron);
    color: var(--beige);
    padding: 2em;
    text-align: center;
}